<div>SUCCESS!!!</div>

<table class="table">
    <thead style="text-align:center">
    <tr>
        <th scope="col">Collection ID</th>
        <th scope="col">External Reference</th>
        <th scope="col">Payment ID</th>
        <th scope="col">Preference id</th>
        <th scope="col">Payment Type</th>
    </tr>
    </thead>
    <tbody style="text-align:center">
    <tr>
        <th>{{collection_id}}</th>
        <td>{{external_reference}}</td>
        <td>{{payment_id}}</td>
        <td>{{preference_id}}</td>
        <td>{{payment_type}}</td>
    </tr>
    </tbody>
</table>