<div>{{id}}</div>
<div>{{live_mode}}</div>
<div>{{type}}</div>
<div>{{date_created}}</div>
<div>{{application_id}}</div>
<div>{{user_id}}</div>
<div>{{version}}</div>
<div>{{api_version}}</div>
<div>{{action}}</div>

